.cart {
    width: 327px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    border-radius: 10px;
}

.cart-title {
    font-family: 'Redhat-Semibold';
    color:var(--red);
}

.cart-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 195px;
    text-align: center;
    display: none;
}
.cart-img {
    width: 120px;
}

.cart-text {
    color: var(--rose-500);
    font-family: 'Redhat-Semibold';
}


.item-list ul {
    list-style: none;
}

.item-list ul li  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px 0;
    border-bottom: 1px solid var(--rose-100);
    button {
        background:none;
        border: none;
        svg {
            border: 1px solid var(--rose-400);
            width: 18px;
            height: 18px;
            padding: 2px;
            border-radius: 50px;
            path {
            fill: var(--rose-400);
        }
          
        }
    }
}

.item-list-name {
    margin-bottom: 8px;
}

.item-list-name,
.quantity,
.total {

    font-family: 'Redhat-Semibold';

}

.price,
.total {
    color: var(--rose-500)
}

.quantity {
    color: var(--red);
}

.pricing span {
    margin-right: 10px;
}

.order-total {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

}

.total-amount {
    font-family: 'Redhat-Bold';
}

.delivery {
    display: flex;
    padding: 16px;
    font-size: 0.8rem;
    gap: 12px;
    margin: 16px 0;
    background-color: var(--rose-50);
    border-radius: 8px;
  
}

.delivery span {
       font-family: 'Redhat-Semibold';
}
.confirm-btn {
    padding: 16px;
    background-color: var(--red);
    border: none;
    color: var(--white);
    border-radius: 110px;
    font-size: 1rem;
    font-weight: 600;
}

