.product{
    width: 327px;
    position: relative;
}

img {
    width: 100%;
    border-radius: 8px;
}

button {
    max-width: 160px;
    padding: 10px 25px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 0.3rem;
    align-items: center;
    color: var(--rose-900);
    background-color: var(--white);
    border: 1px solid var(--rose-500);
    position: absolute;
    bottom: 4.3rem;
    left: 5.7rem;
    font-family: "Redhat-Semibold";

    svg {
        fill: var(--red);
    }
}

.item {
    margin-top: 24px;
}

.item-name {
    color: var(--rose-500);

}

.item-description,
.price {
    font-family: 'Redhat-Semibold';
}

.price {
    color: var(--red);
}